.footer {
  &__wrapper {
    background-color: $background-footer-main;
    margin-top: 50px;
    padding: 45px 0 20px;
  }

  &__logo {

    a {
      @extend %links;
    }
  }

  &__address {
    margin-top: 15px;

    a {
      display: flex;
      @extend %links;
    }

    span {
      @include small-font($grey-text);
    }
  }

  &__address-icon, &__email-icon, &__phone-icon {
    padding-right: 10px;

    img {
      vertical-align: top;
    }
  }

  &__address-text {
    display: flex;
    flex-direction: column;
  }

  &__phone, &__email {
    margin-top: 20px;
    a {
      @extend %links;
      display: flex;
    }

    img {
      vertical-align: top
    }
  }

  &__email-icon {
    img {
      vertical-align: middle;
    }
  }

  &__phone-numb, &__email-addr {
    @include small-font($grey-text);
    align-self: center;
  }

  &__made-in {
    margin-top: 20px;
  }

}