@include l {
  .footer {
    &__wrapper {
      .row {
        flex-direction: row-reverse;
      }
    }

    &__newsletter {
      width: 30%;

    }

    &__news-wrap {
      align-items: center;
    }

    &__menu-links {
      width: 70%;
      padding: 0 0 30px 30px;

      a {
        @include middle-font($grey-text);
      }
    }

    &__contacts {
      order: 3;
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      border-top: 1px solid $grey-text;
    }

    &__logo, &__address, &__phone, &__made-in, &__email {
      display: flex;
      margin: 0;
    }

    &__logo {
      order: 1;
      width: 50%;
      justify-content: flex-end;
      padding-right: 10px;
      img {
        height: 100%;
      }
    }

    &__made-in {
      order: 2;
      width: 50%;
      padding-left: 10px;
    }

    &__address, &__phone, &__email {
      width: calc(100%/3);
      justify-content: center;
      margin-top: 20px;
    }

    &__address {
      order: 3;
    }

    &__phone {
      order: 4;
      align-items: center;
    }

    &__email {
      order: 5;
      align-items: center;
    }

    &__address-text, &__phone-numb, &__email-addr {
      font-size: $font-size-m;
    }

    &__copy-text {
      p {
        font-size: $font-size-s ;
      }
    }
  }
}

@include m {
  .footer {
    &__newsletter {
      width: 40%;
    }

    &__menu-links {
      width: 60%;
      flex-wrap: wrap;

      div {
        width: 50%;

        &:first-child {
          margin-bottom: 15px;
        }
      }
    }

    &__btn-up {
      a {
        line-height: 40px;
      }
    }
  }
}

@include s {
  .footer {
    &__wrapper {
      .row {
        flex-direction: column-reverse;
      }
    }
    &__contacts {
      order: 0;
    }
    &__newsletter {
      width: 100%;
      padding-bottom: 20px;

      h2 {
        font-size: $font-size-xl;
      }

      input {
        width: 100%;
      }

    }

    &__news-lang  {
      .footer__news-select {
        padding: 15px 72px 15px 110px;
      }
    }

    &__socials {
      img {
        width: 100%;
      }

      a {
        width: 40px;
      }

      div {
        padding: 0 10px;
      }
    }

    &__menu-links {
      padding: 20px 0;
      width: 100%;
      border-top: 1px solid $grey-text;
      div {
        text-align: center;
      }

      h3 {
        font-size: $font-size-xl;
      }

      a {
        font-size:$font-size-l;
      }
    }

    &__phone, &__email, &__address {
      width: 100%;
    }

    &__logo, &__made-in {
      padding: 0;
    }

    &__made-in {
      justify-content: flex-end;
    }

    &__address-text {
      span {
        font-size: $font-size-l;
      }
    }

    &__phone-numb {
      font-size: $font-size-l;
    }

    &__email-addr {
      font-size: $font-size-l;
    }

    &__address-icon {
      padding: 4px 10px 0 0;
    }

    &__btn-up {
      padding: 0;

      a {
        line-height: 55px;
      }
    }

    &__copy-text {
      p {
        font-size: $font-size-m;
      }
    }
  }
}