%font-weight {
  font-weight: 400;
}

%font-weight-bold {
  font-weight: 700;
}

%off-links-styles {
  text-decoration: none;
}

%justify-content-start {
  justify-content: flex-start;
}

%justify-content-end {
  justify-content: flex-end;
}

%flex-direction-row {
  flex-direction: row;
}

%margin-top {
  margin-top: 15px;
}

%links {
  display: inline-block;
  text-decoration: none;
}