$lato-font: 'Lato', sans-serif;


$background-page: #F4F4F4;
$background-white: #FFFFFF;
$main-txt-color: #17181A;
$dark-grey: #43464C;
$hover-color: #99C63C;
$light-green: #cced89;
$blue-color: #2268B4;
$red-color: #FF4545;
$grey-text: #BDBDBE;



$font-size-xl: 28px;
$font-size-l: 17px;
$font-size-m: 15px;
$font-size-s: 13px;
$font-size-xs: 12px;

$width-xxl: 1120px;
$width-xl: 1024px;
$width-l: 991px;
$width-m: 768px;
$width-s: 576px;
$width-xs: 360px;
