@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;800&display=swap");
.footer__phone-numb, .footer__email-addr, .footer__address span, .main__sidebar-check-item span, .main__sidebar-check-item label, .main__sidebar-select, .main__bread-item a, .header__nav-menu .header__nav-dropdowns .header__nav-item .header__nav-link, .header__select, .header__upper-line {
  font-weight: 400;
}

.main__select, .main__counter-value, .main__product-info, .main__sidebar-check-btn, .main__link-heading h2 {
  font-weight: 700;
}

.main__bread-item a {
  text-decoration: none;
}

.header__cart {
  justify-content: flex-end;
}

.main__sidebar-type, .main__sidebar-features, .main__sidebar-width, .main__sidebar-height, .main__sidebar-form, .main__sidebar-range, .main__sidebar-setup-time {
  margin-top: 15px;
}

.footer__phone a, .footer__email a, .footer__address a, .footer__logo a {
  display: inline-block;
  text-decoration: none;
}

body {
  background-color: #F4F4F4;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1120px;
  padding: 0;
}

.row {
  margin: 0;
}

.row > * {
  padding: 0;
}

@media (max-width: 1120px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 991px;
  }
}
@media (max-width: 991px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 360px;
  }
}
.header {
  /*UPPER LINE END*/
  /*SEARCH*/
}
.header__main-line {
  box-shadow: 0 4px 4px 0 #0000002e;
}
.header .navbar {
  position: static;
}
.header__upper-line {
  font-size: 13px;
  color: #17181A;
  padding: 5px 0;
}
.header__phone {
  display: flex;
}
.header__phone-icon img {
  width: 14px;
  height: 14px;
}
.header__phone-number {
  padding-left: 12px;
}
.header__phone-number span {
  padding: 0 5px;
}
.header__language {
  display: flex;
}
.header__language-icon {
  padding-left: 2px;
}
.header__language-icon img {
  width: 15px;
  height: 15px;
}
.header__language-select {
  max-width: 97%;
}
.header__select {
  font-size: 13px;
  color: #17181A;
  border: none;
  background-color: inherit;
  outline: none;
}
.header__main-line {
  background-color: #FFFFFF;
}
.header__main-line .row {
  align-items: center;
}
.header__logo {
  padding: 20px 20px 20px 0;
}
.header__logo a {
  display: inline-block;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  padding-left: 15px;
}
.header__search {
  position: relative;
  width: 40px;
}
.header__search.active {
  width: 25%;
  transition: 1s;
}
.header__search.active .header__search-field {
  display: initial;
  border: 2px solid #99C63C;
  border-radius: 20px;
}
.header__search-btn {
  border: none;
  position: absolute;
  height: 100%;
  right: 0;
  transition: transform 0.3s;
}
.header__search-btn:focus, .header__search-btn:active {
  box-shadow: none;
}
.header__search-field {
  padding: 0.375rem 2.75rem 0.375rem 0.75rem;
  display: none;
}
.header__search-field:focus {
  box-shadow: none;
  border-color: inherit;
}
.header__nav-menu .header__nav-dropdowns .header__nav-item .header__nav-link {
  font-size: 15px;
  color: #17181A;
}
.header__nav-wrapper {
  padding-left: 66px;
}
.header__nav-item:nth-child(2) {
  padding: 0 30px;
}
.header__nav-link {
  padding: 0.375rem 0.75rem;
}
@media (max-width: 1024px) {
  .header__nav-wrapper {
    padding-left: 45px;
  }
}
@media (max-width: 991px) {
  .header .container {
    position: relative;
  }
  .header .dropdown-menu {
    position: absolute;
    background-color: #cced89;
  }
  .header .navbar-toggler:focus {
    box-shadow: none;
  }
  .header__logo {
    padding-right: 10px;
    width: 30%;
  }
  .header__nav {
    padding-left: 0;
  }
  .header__search {
    width: 85%;
    padding-left: 30px;
  }
  .header__search.active {
    width: 85%;
  }
  .header__nav-menu {
    width: 15%;
  }
  .header__nav-wrapper {
    position: absolute;
    top: 100px;
    left: 0;
    padding: 0;
    display: flex;
    width: 100%;
    background-color: #99C63C;
    border-radius: 10px;
  }
  .header__nav-dropdowns {
    width: 80%;
    justify-content: space-between;
    padding: 0 20px;
  }
  .header__cart {
    width: 20%;
    justify-content: space-around;
  }
  .header__nav-dropdowns, .header__cart {
    flex-direction: row;
  }
  .header__nav-item:nth-child(2) {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .header__search.active {
    width: 75%;
  }
  .header__logo {
    width: 40%;
  }
  .header__search {
    width: 75%;
  }
}
@media (max-width: 576px) {
  .header .container {
    padding: 0 5px;
  }
  .header__logo {
    width: 50%;
  }
  .header__search {
    width: 0;
    padding: 0;
  }
  .header__search-btn {
    display: none;
  }
  .header__nav-wrapper {
    flex-direction: column-reverse;
  }
  .header__cart li:first-child {
    padding: 0;
  }
  .header__cart, .header__nav-dropdowns {
    width: 100%;
  }
}
.main__links {
  margin-top: 30px;
}
.main__breadcrumb {
  margin: 0;
}
.main .breadcrumb-item + .breadcrumb-item::before {
  content: url("./../images/icons/line.svg");
  line-height: 15px;
}
.main__bread-item a {
  font-size: 13px;
  color: #43464C;
}
.main__bread-item:first-child a {
  color: #99C63C;
}
.main__link-heading {
  margin-top: 10px;
}
.main__link-heading h2 {
  font-size: 28px;
  color: #17181A;
  margin: 0;
}

@media (max-width: 576px) {
  .main .container {
    padding: 0 5px;
  }
}
.main {
  /*RIGHT BLOCK BEGINNING*/
  /*PAGE COUNTER*/
}
.main__goods {
  margin-top: 35px;
}
.main__sidebar-goods {
  padding-right: 15px;
}
.main__sidebar-select {
  font-size: 15px;
  color: #17181A;
  outline: none;
  border: none;
  border-radius: 60px;
  padding: 15px 0 15px 30px;
  background-position: right 1.75rem center;
  box-shadow: 0 4px 4px 0 #BDBDBE;
}
.main__sidebar-checkboxes {
  margin-top: 25px;
  padding: 15px 15px;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 #BDBDBE;
}
.main__sidebar-reset {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.main__sidebar-reset span {
  color: #43464C;
  font-size: 12px;
}
.main__sidebar-reset button[type=reset] {
  font-size: 12px;
  border: none;
  background: none;
  color: #FF4545;
  display: flex;
  align-items: center;
}
.main__sidebar-reset img {
  padding-right: 5px;
}
.main .dropdown-menu {
  position: initial;
  border: none;
  border-bottom: 1px solid #BDBDBE;
  border-radius: unset;
  padding: 0;
}
.main div.dropdown-menu.show {
  transform: none !important;
  position: initial !important;
  inset: initial !important;
}
.main__sidebar-check-btn {
  font-size: 17px;
  color: #2268B4;
  margin: 0;
  width: 100%;
  text-align: left;
  margin-bottom: 12px;
  position: relative;
}
.main__sidebar-check-btn:hover {
  color: #2268B4;
}
.main .dropdown-toggle::after {
  position: absolute;
  right: 0;
  top: 50%;
}
.main .btn:focus {
  box-shadow: none;
}
.main__sidebar-check-item {
  margin-bottom: 10px;
}
.main__sidebar-check-item input {
  margin-right: 10px;
}
.main__sidebar-check-item label {
  font-size: 15px;
  color: #17181A;
}
.main__sidebar-check-item span {
  font-size: 15px;
  color: #BDBDBE;
  margin-left: 5px;
}
.main__sidebar-subcategory {
  margin-top: 20px;
}
.main__list-goods {
  padding-left: 15px;
}
.main__search-wrapper {
  width: 100%;
}
.main__search-input {
  position: relative;
  padding: 15px 70px 15px 40px;
  border: none;
  border-radius: 60px;
  box-shadow: 0 4px 4px 0 #BDBDBE;
}
.main__search-btn {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 25px;
}
.main .form-control:focus {
  color: inherit;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #FFFFFF;
}
.main__list-goods-wrap {
  margin-top: 18px;
}
.main__item-wrapper {
  padding: 7px;
}
.main__product {
  position: relative;
  padding: 35px 15px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px 0 #BDBDBE;
  border-radius: 16px;
  transition: 0.5s box-shadow;
}
.main__product:hover {
  box-shadow: 0 6px 7px 0 #759533;
}
.main__product:hover p, .main__product:hover span {
  color: #99C63C;
}
.main__product:hover .main__product-photo {
  transform: translateX(-100%);
}
.main__product:hover .main__product-photo .main__opac-img-1 {
  opacity: 0.5;
}
.main__product:hover .main__product-photo .main__opac-img-2 {
  opacity: 1;
}
.main__product-status {
  position: absolute;
  right: 10px;
  top: 10px;
}
.main__product-photo {
  transition: 0.5s;
}
.main__product-photo img {
  width: 100%;
  padding: 0 5px;
}
.main__product-photo .main__opac-img-1 {
  opacity: 1;
}
.main__product-photo .main__opac-img-2 {
  opacity: 0.5;
}
.main__product-info {
  font-size: 17px;
  color: #17181A;
  margin: 0;
  text-align: center;
  margin-top: 25px;
}
.main__product-info p {
  margin: 0;
  transition: 0.5s;
}
.main__product-info .main__price {
  display: inline-block;
}
.main__product-info .main__currency {
  display: inline-block;
  padding-left: 5px;
}
.main__page-counter {
  margin-top: 35px;
}
.main__counter-wrap {
  display: flex;
  align-items: center;
}
.main__counter-wrap span {
  padding: 0 14px;
  color: #43464C;
  font-size: 17px;
}
.main__counter-btn {
  background-color: #BDBDBE;
  padding: 5px 30px;
  border: none;
  border-radius: 100px;
}
.main__counter-btn:hover, .main__counter-btn:focus {
  background-color: #99C63C;
}
.main__counter-value {
  font-size: 17px;
  color: #17181A;
  margin: 0;
  width: 70px;
  text-align: center;
  border: 1px solid #BDBDBE;
  border-radius: 100px;
  padding: 5px 0;
  outline: 0;
}
.main__select {
  font-size: 17px;
  color: #17181A;
  margin: 0;
  padding: 5px 35px 5px 25px;
  border: 1px solid #BDBDBE;
  border-radius: 100px;
  appearance: none;
  outline: 0;
  background-image: url("./../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

@media (max-width: 991px) {
  .main__sidebar-reset {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .main__main-goods .row {
    flex-direction: column;
  }
  .main__sidebar-reset {
    flex-direction: row;
  }
  .main__sidebar-goods, .main__list-goods {
    padding: 0;
    width: 100%;
  }
  .main__sidebar-check-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .main__sidebar-check-list .dropdown {
    width: 25%;
    margin: 0;
  }
  .main .dropdown-toggle::after {
    display: none;
  }
  .main .dropdown-menu {
    border-bottom: none;
    min-width: unset;
  }
  .main__sidebar-check-btn {
    font-size: 15px;
  }
  .main__sidebar-check-item label, .main__sidebar-check-item span {
    font-size: 12px;
  }
  .main__list-goods {
    margin-top: 20px;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .main__sidebar-check-list .dropdown {
    width: 50%;
  }
  .main__sidebar-check-btn {
    text-align: center;
  }
  .main .dropdown-menu {
    padding-left: 20px;
  }
  .main__sidebar-subcategory, .main__sidebar-type, .main__sidebar-features, .main__sidebar-width, .main__sidebar-height, .main__sidebar-form, .main__sidebar-range, .main__sidebar-setup-time {
    border-bottom: 1px solid #BDBDBE;
  }
  .main__counter-wrap {
    width: 100%;
    justify-content: center;
  }
  .main__item-wrapper {
    width: 50%;
  }
  .main__product {
    padding: 50px 10px 20px;
  }
  .main__product-info {
    font-size: 13px;
  }
  .main__product-photo img {
    padding: 0 9px;
  }
  .main__counter-btn {
    padding: 20px;
    border-radius: 50%;
  }
  .main__counter-btn img {
    display: none;
  }
  .main__counter-btn[data-direction=plus] {
    background-image: url("./../images/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__counter-btn[data-direction=minus] {
    background-image: url("./../images/icons/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__counter-btn[data-direction=minus]:hover, .main__counter-btn[data-direction=minus]:focus {
    background-color: #FF4545;
  }
  .main__page-selection {
    display: none;
  }
}
.footer__wrapper {
  background-color: #26282C;
  margin-top: 50px;
  padding: 45px 0 20px;
}
.footer__address {
  margin-top: 15px;
}
.footer__address a {
  display: flex;
}
.footer__address span {
  font-size: 13px;
  color: #BDBDBE;
}
.footer__address-icon, .footer__email-icon, .footer__phone-icon {
  padding-right: 10px;
}
.footer__address-icon img, .footer__email-icon img, .footer__phone-icon img {
  vertical-align: top;
}
.footer__address-text {
  display: flex;
  flex-direction: column;
}
.footer__phone, .footer__email {
  margin-top: 20px;
}
.footer__phone a, .footer__email a {
  display: flex;
}
.footer__phone img, .footer__email img {
  vertical-align: top;
}
.footer__email-icon img {
  vertical-align: middle;
}
.footer__phone-numb, .footer__email-addr {
  font-size: 13px;
  color: #BDBDBE;
  align-self: center;
}
.footer__made-in {
  margin-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
